<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body
    style="
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <div style="background-color: whitesmoke; padding: 20px 10px">
      <div
        style="
          height: 90%;
          width: 400px;
          background-color: white;
          padding-left: 5px;
        "
      >
        <div style="font-size: 24px; margin-bottom: 5px; font-weight: 600">
          <span style="color: yellow">W</span>
          <span style="color: red">E</span>
          <span style="color: lime">L</span>
          <span style="color: yellow">C</span>
          <span style="color: red">O</span>
          <span style="color: lime">M</span>
          <span style="color: yellow">E</span>
        </div>
        <div
          style="
            font-size: 15px;
            margin-top: 20px;
            color: rgb(118, 114, 114);
            font-weight: 500;
          "
        >
          Welcome to AJ LAW!
        </div>
        <div
          style="
            font-size: 15px;
            margin-top: 20px;
            width: 80%;
            color: rgb(118, 114, 114);
            line-height: 20px;
          "
        >
          We are so happy to have you on board. With AJ LAW you can get access
          to interpreted law in our domain
        </div>
        <div
          style="
            font-size: 15px;
            margin-top: 20px;
            width: 80%;
            color: rgb(118, 114, 114);
            line-height: 20px;
            margin-bottom: 30px;
          "
        >
          Don't hesitate to get in touch if you have any questions; We'll always
          get back to you :)
        </div>
        <a 
        href="<%= url %>"
          style="
            padding: 10px 30px;
            margin-top: 30px;
            background: dodgerblue;
            border-radius: 10px;
            border: none;
            color: white;
            text-decoration: none;
          "
        >
          verify
        </a>
      </div>
    </div>
  </body>
</html>
